<!doctype html>
<html>
<head>
    <title> Index-Training </title>

</head>
<body>

<div id="footnote"> <!-- Beginning of footer  -->
    <footer style="background-color: #00ff00;">
        <div style="text-align: center;"> <hr/>&copy; 2020-2021 &trade;
            &reg; |
            <a href="mailto:info@aptech.com" title="Send us an email"> Webmaster@aptech.com </a> |
            <!-- External Link to Facebook -->
            <a href="https://facebook.com" title="Facebook" target="_blank"><img src="images/fb.png" width="20" height="25"> </a>
            <hr/></div>
    </footer>
</div>
</body>
</html>