<!doctype html>
<html lang="en" class="no js" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Index-Training </title>
    <link rel="stylesheet" th:href="@{css/format.css}" type="text/css">
   <!-- <link rel="stylesheet" href="css/format.css" type="text/css"> -->
</head>
<body>
<div class="main">
    <header> <center>
        <h1>About Training</h1>
        <hr/>
        <!-- Menu Navigation -->
        <div class="nav"> <!--  Start of nav div -->
            <a href="/" title="Home Page"> Index	</a> |
            <a href="/about-us" title="About Page"> About Us	</a> |
            <a href="/contact-us" title="Contact Page"> Contact Us	</a> |
            <a href="ourservices.html" title="Services Page" target="_blind"> Our Services	</a> |
            <a href="registration.html" title="Services Page"> Registration	</a> |
            <hr/>
        </div> <!-- End of nav div -->
        <br/>
        <!-- Menu Navigation Ends here -->
        <h2> :::Home::: </h2>

        <p>  </p>
        <marquee behavior="alternate" direction="up" height="50" scrollamount="1" style="background-color: green;">This is the <b>beginning...</b></marquee>
    </center>
    </header>
    <!-- Creating the Ordered list -->
    <ol type="a">
        <h3> Supported Video Format Using OL tag</h3>
        <li> .AVI </li>
        <li> .MP4 </li>
        <li> .OGG </li>
        <li> .WMV </li>
    </ol>

    <!-- Creating the unordered list -->
    <ul type="square">
        <h3> Supported Video Format Using UL Tag</h3>
        <li> .AVI </li>
        <li> .MP4 </li>
        <li> .OGG </li>
        <li> .WMV </li>
    </ul>

    <!--
    <video width="300" height="200" src="videos/1.mp4" controls autoplay loop> Your browser does not support the video element. </video>
    <video width="300" height="200" src="videos/2.mp4" controls autoplay> Your browser does not support the video element. </video><br /><br/>

    <audio src="videos/audio.mp3" controls autoplay loop html5 audio not supported></audio> <br /><br/> -->

    <embed width="300" height="200" src="videos/1.mp4"></embed>


</div>



<iframe src="/footer" width="100%" height="70"> </iframe>
</body>
</html>